.auth {
    background-color: #edfafd;
    height: 640px;
    padding-top: 100px;
}
.login {
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 500px;
    height: fit-content;
}

.registration {
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 500px;
}
